<div data-role="header" data-theme="c" class="type-interior">
	<h1>Dashboard</h1>
	<a href="#about" data-icon="info-sign" data-theme="b" data-iconpos="notext"></a> 
	<a href="#help" data-icon="question-sign" data-theme="b" data-iconpos="notext"></a>
</div>
<div data-role="content">
	<ul data-role="listview" data-inset="true" data-theme="c"
		id="dashboard-system-list"
		data-filter="true" data-filter-theme="d"
		data-filter-placeholder="Search system ...">
	</ul>
</div>
<div data-role="footer" data-theme="d" data-position="fixed">
	<a href="#logout" data-icon="off" class="btn-bottom-left" data-theme="k">Logout</a> 
	<a href="#administration" data-icon="cog" data-theme="b" class="btn-bottom-right">Administration</a>
</div>