<div data-role="header" data-theme="c" class="type-interior">
	<h1>Dashboard</h1>
	<a href="#logout" data-icon="off" data-theme="k" data-iconpos="notext"></a> <a href="#about" data-icon="grid"
		data-theme="b" data-iconpos="notext"></a>
</div>
<div data-role="content">
	<ul data-role="listview" data-inset="true" data-theme="c" id="dashboard-system-list" data-filter="true"
		data-filter-theme="d" data-filter-placeholder="Search system ...">
	</ul>
</div>
<div data-role="footer" data-theme="d" data-position="fixed">
	<div class="bottom-logo">
		<img src="images/logo/c-mg.png"/>
	</div>
</div>