<div data-role="header" data-theme="c" class="type-interior">
	<h1 style="font-size: 1.3em; margin: .4em 30% 0.2em;" id="p-title">Dashboard</h1>
	<a href="#logout" data-icon="off" data-theme="k" data-iconpos="notext"></a> <a href="#about" data-icon="grid"
		data-theme="b" data-iconpos="notext"></a>
</div>
<div data-role="content" data-iscroll="">
	<div class="iscroll-pulldown">
		<span class="iscroll-pull-icon"></span><span class="iscroll-pull-label"></span>
	</div>
	<ul data-role="listview" data-inset="true" data-theme="c" id="dashboard-system-list" data-filter="true"
		data-filter-theme="d" data-filter-placeholder="Search system ...">
	</ul>
	<div class="iscroll-pullup">
		<span class="iscroll-pull-icon"></span><span class="iscroll-pull-label"
			data-iscroll-loading-text="Loading ..." data-iscroll-pulled-text="Release to refresh ...">Pull up to refresh ...</span>
	</div>
</div>
<div data-role="footer" data-position="fixed" class="ui-body-d" data-role="listview" data-inset="true">
	<div class="bottom-logo">
		<img src="images/logo/c-mg.png" />
	</div>
</div>