<div data-role="header" data-theme="c">
	<a href="#" data-icon="chevron-up" data-theme="e">Hide</a>
	<h1>Help content</h1>
</div>
<div data-role="content">
	<p>The monitor performs regular check on the health of any systems
		it has been setup to monitor</p>
	<table data-role="table" data-mode="reflow">
		<tr>
			<td><img src="images/icon/smile_status_icon.png" /></td>
			<td>&nbsp;Everything is working normally</td>
		</tr>
		<tr>
			<td><img src="images/icon/bored_status_icon.png" /></td>
			<td>Some parts of the system are straining</td>
		</tr>
		<tr>
			<td><img src="images/icon/dead_status_icon.png" /></td>
			<td>Some or all parts of the system are failing to respond</td>
		</tr>
		<tr>
			<td><img src="images/icon/dead_status_icon.png" /></td>
			<td>Search or filter on a system by typing all or part of the
				name on the dashboard</td>
		</tr>
	</table>
	</br>
	<p>&nbsp;&nbsp;Navigate to:</p>
	<ul data-role="listview" data-inset="true">
		<li><a href="#dashboard">DashBoard</a></li>
		<li><a href="#about">About us</a></li>
		<li><a rel="external" href="http://www.c-mg.com">Claybourne
				McGregor</a></li>
	</ul>
</div>
<div data-role="footer" data-theme="c" data-position="fixed">
	<img src="images/logo/monitor-cmg.png" width="100%" />
</div>