<div xmlns='http://www.w3.org/1999/xhtml' class="fix-site-content">
	<table class='sites-layout-name-one-column sites-layout-hbox'
		cellspacing='0'>
		<tbody>
			<tr>
				<td class='sites-layout-tile sites-tile-name-content-1'><div
						dir='ltr'>
						<div>
							<div class='sites-embed-align-left-wrapping-off'>
								<div style='width: 250px;'
									class='sites-embed-border-off sites-embed'>
									<div class='sites-embed-content sites-embed-type-toc'>
										<div class='goog-toc sites-embed-toc-maxdepth-6'>
											<p>Contents</p>
											<ol class='goog-toc'>
												<li class='goog-toc'><a href='#TOC-Version-3.5'><strong>1
													</strong>Version 3.5</a></li>
												<li class='goog-toc'><a href='#TOC-Version-3'><strong>2
													</strong>Version 3</a></li>
												<li class='goog-toc'><a href='#TOC-Version-2'><strong>3
													</strong>Version 2</a></li>
												<li class='goog-toc'><a href='#TOC-Version-1'><strong>4
													</strong>Version 1</a></li>
											</ol>
										</div>
									</div>
								</div>
							</div>
						</div>
						<h2>
							<a name='TOC-Version-3.5' />Version 3.5
						</h2>
						<div>Released on 25/10/2012</div>
						<div>
							<br />
						</div>
						<div>Revision number ( SVN) : 646</div>
						<div>
							<br />
						</div>
						<div>Some new features are</div>
						<div>
							<br />
						</div>
						<div>1. Allows user who has Gmail account (non Google apps
							account) can log-in ( invite or request )</div>
						<div>
							<br />
						</div>
						<div>2. Exclusion monitoring time: set not monitoring in a
							time frame</div>
						<h2>
							<a name='TOC-Version-3' />Version 3
						</h2>
						<div>
							<div>Released on 10/10/2012</div>
							<div>
								<br />
							</div>
							<div>Revision number ( SVN) : 582</div>
							<div>
								<br />
							</div>
							<div>Some new features are:</div>
							<div>
								<br />
							</div>
							<div>1. In Administration:</div>
							<div>
								<br />
							</div>
							<blockquote
								style='margin: 0px 0px 0px 40px; border: none; padding: 0px'>
								<div>
									a. Move <b>groups </b>and <b>roles </b>management from Google
									App to inside Health Monitoring System, before this
									is depended on Google Apps
								</div>
								<div>
									<br />
								</div>
								<div>b. Allows to synchronize user accounts from Google
									app to monitoring system</div>
								<div>
									<br />
								</div>
								<div>c. Proxy link: this allows Health Monitoring Tool
									retrieve data from remote system via the Proxy link in case of
									unsigned certificate failure ( SSL )</div>
							</blockquote>
							<div>
								<br />
							</div>
							<div>2. In Dashboard:</div>
							<div>
								<br />
							</div>
							<blockquote style="margin: 0px 0px 0px 40px; border: none; padding: 0px">
							<div>a. User only sees monitoring system on
								dashboard if the user belongs to the group which is setup for
								the monitoring system, before user can see all minoring systems
								on the dashboard regardless of these systems in which groups</div>
							<div>
								<br />
							</div>
							<div>b. "Real time" data showing: in system
								information page, some graphs now shows a "real time" data, and
								movement of graphs</div>
								</blockquote>
							<div>
								<br />
							</div>
							<div>3. Email notification: improve the alignment, and
								wording</div>
							<div>
								<br />
							</div>
							<div>4. Added reversion page: this allows users to see
								the evolution of the monitor tool</div>
						</div>
						<h2>
							<a name='TOC-Version-2' />Version 2
						</h2>
						<div>Released on 13/01/2012</div>
						<div>
							<br />
						</div>
						<div>Revision number ( SVN) : 409</div>
						<div>
							<br />
						</div>
						<div>Some new features in Administration are</div>
						<div>

							<p>
								1.<span style='font-size: 7.0pt'></span>System logs: to see
								who changed, and what change on System management
							</p>
							<p>2. Flexible Notification Options : this will be reduce
								number of email notification we want, before Health Monitoring
								System always alerts base on fixed conditions</p>

							<h2>
								<a name='TOC-Version-1' />Version 1
							</h2>
						</div>
						<div>
							<div>
								<br />
							</div>
							<div>Released on 25/12/2011</div>
							<div>
								<br />
							</div>
							<div>Revision number ( SVN) : 350</div>
							<div>
								<br />
							</div>
							<div>Initial version with main functions</div>
							<div>
								<br />
							</div>
							<div>1. Login function: this is to integrate with Google
								SSO</div>
							<div>
								<br />
							</div>
							<div>2. Monitor function: to retrieve data from remote
								system, analysis the data and do alert base on fixed conditions</div>
							<div>
								<br />
							</div>
							<div>3. Dashboard: to show all monitoring system with
								health status, and statistic data</div>
							<div>
								<br />
							</div>
							<div>4. Administration: allows user to manage monitoring
								systems</div>
						</div>
						<div></div>
						<div>
							<br />
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
