<div id="sites-canvas-main-content" class="fix-site-content">
	<table xmlns="http://www.w3.org/1999/xhtml" cellspacing="0" class="sites-layout-name-one-column sites-layout-hbox">
		<tbody>
			<tr>
				<td class="sites-layout-tile sites-tile-name-content-1"><div dir="ltr">
						<div>
							<div class="sites-embed-align-left-wrapping-off">
								<div class="sites-embed-border-off sites-embed" style="width: 250px;">
									<div class="sites-embed-content sites-embed-type-toc">
										<div class="goog-toc sites-embed-toc-maxdepth-6">
											<p>Contents</p>
											<ol class="goog-toc">
												<li class="goog-toc"><a href="#TOC-Version-4.0"><strong>1 </strong>Version 4.0</a></li>
												<li class="goog-toc"><a href="#TOC-Version-3.5"><strong>2 </strong>Version 3.5</a></li>
												<li class="goog-toc"><a href="#TOC-Version-3"><strong>3 </strong>Version 3</a></li>
												<li class="goog-toc"><a href="#TOC-Version-2"><strong>4 </strong>Version 2</a></li>
												<li class="goog-toc"><a href="#TOC-Version-1"><strong>5 </strong>Version 1</a></li>
											</ol>
										</div>
									</div>
								</div>
							</div>
						</div>
						<h2>
							<a name="TOC-Version-4.0"></a>Version 4.0
						</h2>
						<div style="font-size: 13px; font-weight: normal">Released on 22/01/2013</div>
						<div style="font-size: 13px; font-weight: normal">
							<br>
						</div>
						<div style="font-size: 13px; font-weight: normal">Revision number ( SVN) : xxx</div>
						<div style="font-size: 13px; font-weight: normal">
							<br>
						</div>
						<div style="font-size: 13px; font-weight: normal">Some new features are</div>
						<div style="font-size: 13px; font-weight: normal">
							<br>
						</div>
						<div style="font-size: 13px; font-weight: normal">1. To compatible with mobile device's browsers: the system
							will automatically detect client's device is being used to response suitable pages</div>
						<div style="font-size: 13px; font-weight: normal">
							<br>
						</div>
						<div style="font-size: 13px; font-weight: normal">
							2. T<span style="font-size: small">o&nbsp;retrieve database connection pool services and monitor them</span>
						</div>
						<h2>
							<a name="TOC-Version-3.5"></a>Version 3.5
						</h2>
						<div>Released on 25/10/2012</div>
						<div>
							<br>
						</div>
						<div>Revision number ( SVN) : 646</div>
						<div>
							<br>
						</div>
						<div>Some new features are</div>
						<div>
							<br>
						</div>
						<div>1. Allows user who has Gmail account (non Google apps account)&nbsp;can log-in ( invite or request )</div>
						<div>
							<br>
						</div>
						<div>2. Exclusion monitoring time: set to not monitoring in a time frame</div>
						<h2>
							<a name="TOC-Version-3"></a>Version 3
						</h2>
						<div>
							<div>Released on 10/10/2012</div>
							<div>
								<br>
							</div>
							<div>Revision number ( SVN) : 582</div>
							<div>
								<br>
							</div>
							<div>Some new features are:</div>
							<div>
								<br>
							</div>
							<div>1. In Administration:</div>
							<div>
								<br>
							</div>
							<blockquote style="margin: 0px 0px 0px 40px; border: none; padding: 0px">
								<div>
									a. Move&nbsp;<b>groups&nbsp;</b>and&nbsp;<b>roles&nbsp;</b>management from Google App to inside Health
									Monitoring System, before this is&nbsp;depended&nbsp;on Google Apps
								</div>
								<div>
									<br>
								</div>
								<div>b. Allows to&nbsp;synchronize user accounts from Google app to monitoring system</div>
								<div>
									<br>
								</div>
								<div>c. Proxy link: this allows Health Monitoring Tool retrieve data from remote system via the Proxy link
									in case of unsigned certificate failure ( SSL )</div>
							</blockquote>
							<div>
								<br>
							</div>
							<div>2. In Dashboard:</div>
							<div>
								<br>
							</div>
							<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;a. &nbsp;User only sees monitoring&nbsp;system on dashboard if the
								user belongs to the group which is setup for the&nbsp;monitoring&nbsp;system, before user can see
								all&nbsp;minoring&nbsp;systems on the dashboard &nbsp; &nbsp;regardless of these systems in which groups</div>
							<div>&nbsp; &nbsp; &nbsp; &nbsp;</div>
							<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;b. "Real time" data showing: in&nbsp;system information page, some
								graphs now shows a "real time" data, and movement of graphs</div>
							<div>
								<br>
							</div>
							<div>3. Email notification: improve the&nbsp;alignment, and wording</div>
							<div>
								<br>
							</div>
							<div>4. Added reversion page: this allows users to see the&nbsp;evolution&nbsp;of the monitor tool</div>
						</div>
						<h2>
							<a name="TOC-Version-2"></a>Version 2
						</h2>
						<div>Released on 13/01/2012</div>
						<div>
							<br>
						</div>
						<div>Revision number ( SVN) : 409</div>
						<div>
							<br>
						</div>
						<div>Some new features in Administration are</div>
						<div>
							<p>
								1.<span style="font-size: 7.0pt">&nbsp;&nbsp;&nbsp;</span>System logs: to see who changed, and what change on
								System management
							</p>
							<p>2. &nbsp;Flexible Notification Options : this will be reduce number of email notification we want,
								before&nbsp;Health Monitoring System&nbsp;always alerts base on fixed conditions</p>
							<h2>
								<a name="TOC-Version-1"></a>Version 1
							</h2>
						</div>
						<div>
							<div>
								<br>
							</div>
							<div>Released on 25/12/2011</div>
							<div>
								<br>
							</div>
							<div>Revision number ( SVN) : 350</div>
							<div>
								<br>
							</div>
							<div>Initial version with main functions</div>
							<div>
								<br>
							</div>
							<div>1. Login function: this is to integrate with Google SSO</div>
							<div>
								<br>
							</div>
							<div>2. Monitor function: to&nbsp;retrieve data from remote system, analysis the data and do alert base on
								fixed conditions</div>
							<div>
								<br>
							</div>
							<div>3. Dashboard: to show all monitoring system with health status, and statistic data</div>
							<div>
								<br>
							</div>
							<div>4. Administration: allows user to manage monitoring systems</div>
						</div>
						<div>&nbsp;</div>
						<div>
							<br>
						</div>
					</div></td>
			</tr>
		</tbody>
	</table>
</div>