<div xmlns='http://www.w3.org/1999/xhtml'>
	<table class='sites-layout-name-one-column sites-layout-hbox'
		cellspacing='0'>
		<tbody>
			<tr>
				<td class='sites-layout-tile sites-tile-name-content-1'><div
						dir='ltr'>
						<h3
							style='LINE-HEIGHT: 18px; MARGIN: 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: rgb(146, 178, 44); '>
							<a name='TOC-CMG-Health-Monitoring-System' />CMG Health
							Monitoring System
						</h3>
						<h3
							style='line-height: 18px; margin: 0px 0px 10px; padding-left: 0px; padding-right: 0px; font-family: Arial, Helvetica, sans-serif; '>
							<a name='TOC-Version-3.5' /><span style='font-weight: normal'><font
								color='#00A'>Version 3.5</font></span>
						</h3>
						<h3
							style='line-height: 18px; margin: 0px 0px 10px; padding-left: 0px; padding-right: 0px; font-family: Arial, Helvetica, sans-serif; '>
							<a name='TOC-Released-on:-25-10-2012' /><span
								style='font-weight: normal'><font color='#00A'>Released
									on: 25/10/2012</font></span>
						</h3>
						<h3
							style='line-height: 18px; margin: 0px 0px 10px; padding-left: 0px; padding-right: 0px; font-family: Arial, Helvetica, sans-serif; '>
							<a name='TOC-Support-contact:-monitor-c-mg.com-monitor-c-mg.vn' /><span style='font-weight: normal'><font color='#00A'>Support
									contact: <a style='margin: 0px; outline-style: none; padding-left: 0px; padding-right: 0px; text-decoration: initial'
									href='mailto:monitor@c-mg.com'>
									
									<span style="font-weight: normal;"><font color='#00A'>monitor@c-mg.com</font></span></a> / <a style='margin: 0px; outline-style: none; padding-left: 0px; padding-right: 0px; text-decoration: initial'
									href='mailto:monitor@c-mg.vn'>
									<span style="font-weight: normal;"><font color='#00A'>monitor@c-mg.vn</font></span></a>
							</font></span>
						</h3>
						<h3
							style='line-height: 18px; margin: 0px 0px 10px; padding-left: 0px; padding-right: 0px; font-family: Arial, Helvetica, sans-serif; '>
							<a name='TOC-Find-out-more-about-us:-www.c-mg.com' /><span
								style='font-weight: normal'><font color='#00A'>Find
									out more about us: www.c-mg.com</font></span>
						</h3>
					</div></td>
			</tr>
		</tbody>
	</table>
</div>