<div xmlns='http://www.w3.org/1999/xhtml' class="fix-site-content">
	<table class='sites-layout-name-one-column sites-layout-hbox'
		cellspacing='0'>
		<tbody>
			<tr>
				<td class='sites-layout-tile sites-tile-name-content-1'><div
						dir='ltr'>
						<div>
							<div class='sites-embed-align-left-wrapping-off'>
								<div style='width: 400px;'
									class='sites-embed-border-off sites-embed'>
									<div class='sites-embed-content sites-embed-type-toc'>
										<div class='goog-toc sites-embed-toc-maxdepth-6'>
											<p>Contents</p>
											<ol class='goog-toc'>
												<li class='goog-toc'><a href='#TOC-Introduction'><strong>1
													</strong>Introduction</a>
												<ol class='goog-toc'>
														<li class='goog-toc'><a href='#TOC-Glossary'><strong>1.1
															</strong>Glossary</a></li>
														<li class='goog-toc'><a
															href='#TOC-Infrastructure-Overview'><strong>1.2
															</strong>Infrastructure Overview</a></li>
														<li class='goog-toc'><a
															href='#TOC-Functional-Overview'><strong>1.3
															</strong>Functional Overview</a></li>
													</ol></li>
												<li class='goog-toc'><a
													href='#TOC-How-to-use-the-Monitor-Application'><strong>2
													</strong>How to use the Monitor Application</a>
												<ol class='goog-toc'>
														<li class='goog-toc'><a
															href='#TOC-How-to-access-to-Monitor-Application'><strong>2.1
															</strong>How to access to Monitor Application</a></li>
														<li class='goog-toc'><a
															href='#TOC-When-you-receive-notification-email-from-Monitor-Application'><strong>2.2
															</strong>When you receive notification email from Monitor
																Application</a></li>
													</ol></li>
												<li class='goog-toc'><a href='#TOC-Dashboard'><strong>3
													</strong>Dashboard</a></li>
												<li class='goog-toc'><a href='#TOC-Administration'><strong>4
													</strong>Administration</a>
												<ol class='goog-toc'>
														<li class='goog-toc'><a href='#TOC-System-Management'><strong>4.1
															</strong>System Management</a>
														<ol class='goog-toc'>
																<li class='goog-toc'><a
																	href='#TOC-How-to-setup-time-zone'><strong>4.1.1
																	</strong>How to setup time zone</a></li>
																<li class='goog-toc'><a
																	href='#TOC-How-to-setup-proxy-link'><strong>4.1.2
																	</strong>How to setup proxy link</a></li>
															</ol></li>
														<li class='goog-toc'><a href='#TOC-System-Change-log'><strong>4.2
															</strong>System Change log</a></li>
														<li class='goog-toc'><a href='#TOC-Group-management'><strong>4.3
															</strong>Group management</a></li>
														<li class='goog-toc'><a href='#TOC-User-Management'><strong>4.4
															</strong>User Management</a>
														<ol class='goog-toc'>
																<li class='goog-toc'><a
																	href='#TOC-Google-Management'><strong>4.4.1
																	</strong>Google Management</a></li>
																<li class='goog-toc'><a href='#TOC-User-Mapping'><strong>4.4.2
																	</strong>User Mapping</a></li>
																<li class='goog-toc'><a href='#TOC-User-Role'><strong>4.4.3
																	</strong>User Role</a></li>
																<li class='goog-toc'><a href='#TOC-Invite-User'><strong>4.4.4
																	</strong>Invite User</a></li>
															</ol></li>
													</ol></li>
												<li class='goog-toc'><a
													href='#TOC-How-to-setup-remote-system'><strong>5
													</strong>How to setup remote system</a></li>
											</ol>
										</div>
									</div>
								</div>
							</div>
						</div>
						<h2>
							<a name='TOC-Introduction' />Introduction
						</h2>
						<div>
							<h3>
								<a name='TOC-Glossary' />Glossary
							</h3>
						</div>
						<div>
							<ul>
								<li>Health Monitoring System: the Monitor Application</li>
							</ul>
							<ul>
								<li>Remote system: the system to be monitored by
									the Monitor Application</li>
							</ul>
							<ul>
								<li><font><u><a
										style='text-indent: 0.5in'
										href='http://code.google.com/appengine/'>GAE</a></u>: Google App
										Engine - A Google service is to host web application</font></li>
							</ul>
							<ul>
								<li><font>
								<u><a style='text-indent: 0.5in' href='http://www.google.com/apps/'>Google
											App</a></u>: a Google online service that integrates many
										applications such as: domain controller, emails, docs,....</font></li>
							</ul>
						</div>

						<h3>
							<a name='TOC-Infrastructure-Overview' />Infrastructure Overview
						</h3>
						<p>
							<span style='text-indent: 0.5in'>The
								Monitor application is web application, that is deployed on </span><u><a
								style='text-indent: 0.5in'
								href='http://code.google.com/appengine/'>Google App Engine
								(GAE)</a></u><span style='text-indent: 0.5in;'> and it is
								integrated to a </span><u><a style='text-indent: 0.5in'
								href='http://www.google.com/apps/'>Google App</a></u><span
								style='text-indent: 0.5in;'>, so that we can utilize some
								features of Google User Account Management such as SSO</span>
						</p>

						<h3>
							<a name='TOC-Functional-Overview' />Functional Overview
						</h3>
						<p>
							CMG Monitor application is an online application to check, and
							monitor other Web application - Remote systems by<span
								style='font-size: 10pt; line-height: 115%; font-family: Arial, sans-serif'>scheduling</span>,
							following information of the other systems will be monitored:
						</p>

						<ul>
							<li>Alive status</li>
						</ul>
						<ul>
							<li>CPU, and Memory usage status</li>
						</ul>
						<ul>
							<li>Component Services status: database connection ( DAO) ,
								LDAP connection</li>
						</ul>
						<ul>
							<li>Special Functional services status: web statistic,
								reporting</li>
						</ul>
						The Monitor application will receive information above from remote
						systems, analysis them and then send notification email to
						relevant people base on a set of predefined conditions:<br />

						<ul>
							<li>Is system working or not?</li>
						</ul>
						<ul>
							<li>Is CPU, or Memory (RAM, JVM) usage being exceed of 90%?</li>
						</ul>
						<ul>
							<li>Is there any component service connection
								down?(Database connection, LDAP...)</li>
						</ul>
						<ul>
							<li>Is there any connection too slow? (base on ping ,
								responded time )</li>
						</ul>

						<p>
							For further detail how to setup remote system, please go to <b><u><a
								href='#TOC-How-to-setup-remote-system'>setup remote system</a></u></b>
						</p>
						<h2>
							<a name='TOC-How-to-use-the-Monitor-Application' />How to use the
							Monitor Application
						</h2>

						<h3>
							<a name='TOC-How-to-access-to-Monitor-Application' />How to
							access to MonitorApplication
						</h3>
						<div>
							<ul>
								<li>if you have account on your Google apps which
									associated with your own ( your company ) domain, you can log
									in to the Monitor Application by using your account</li>
							</ul>
							<ul>
								<li>if you have Gmail account, and got invitation email
									from administrator of the Monitor Application, you can log in
									by using your Google email account</li>
							</ul>
							<div>
								<h3>
									<a
										name='TOC-When-you-receive-notification-email-from-Monitor-Application' />When
									you receive notification email from Monitor Application
								</h3>
								<p>
									If your account in one of monitor groups, and when a remote
									system in these monitor groups has any <b><u><a
										href='#TOC-Functional-Overview'>problems</a></u><a /></b>, there will
									be an email sent to you in every 15 minutes (in a schedule),
									until the problem is resolved
								</p>
								<p>
									Please note that: the time zone in the notification email is<b></b>system
									time zone that is set by Administrator
								</p>
							</div>
						</div>
						<h2>
							<a name='TOC-Dashboard' />Dashboard
						</h2>
						<div>
							<i>Link: /Index.html#dashboard</i>
						</div>
						<div>
							<ul>
								<li>To display general monitoring information, it will show
									health status of all systems are being monitored</li>
							</ul>
							<ul>
								<li>You only can see remote systems in which you are
									granted permission to view by Administrator</li>
							</ul>
							<ul>
								<li>From the dashboard you can choose specific remote
									system to view all its detail information</li>
							</ul>
						</div>
						<h2>
							<a name='TOC-Administration' />Administration
						</h2>
						<p>
							<i>Link: /Index.html#management/system </i>
						</p>
						<p>Administrator of system will manage user accounts, roles,
							and group of the Monitor Application, to access to Administration
							you must be Administrator of Monitor Application</p>
						<p>In the system it has following functions</p>
						<h3>
							<a name='TOC-System-Management' />System Management
						</h3>
						<p>
							<i>Link: /Index.html#management/system</i>
						</p>
						<p>In here you can manage remote systems, such as: list all
							systems, delete a system, update existing system and some other
							configuration things to the system, please find details in below</p>
						<h4>
							<a name='TOC-How-to-setup-time-zone' />How to setup time zone
						</h4>
						<div>The time zone for Monitor Application, this will base
							on the time zone for scheduling monitor remote systems, under
							system management, please click to choose time zone to be used</div>
						<h4>
							<a name='TOC-How-to-setup-proxy-link' />How to setup proxy link
						</h4>
						<div>
							<i>Link:/Index.html#management/system</i>
						</div>
						<p>
							<span style='font-size: 13px; font-weight: normal'>On
								Google App Engine will not work with sites with server
								certificate errors. To test if a site has a server certificate
								error attempt to go to the XML URL link on your client server
								via your web browser. If the browser says '</span><b
								style='font-size: 13px'><span
								style='font-family: Helvetica, sans-serif; color: rgb(102, 0, 0)'>'The
									site's security certificate is not trusted!'</span></b><span
								style='font-size: 13px; font-weight: normal'> then this
								will indicate that Google App engine will also refuse to connect<i></i>so
								you need to setup a proxy for Monitor application, the Monitor
								application will read data for remote system via the Proxy to
								bypass the faulty
							</span>
						</p>
						<ul>
							<li><span style='font-family: Arial Unicode MS, sans-serif'>Setup
									your Proxy server:</span>Install a Java web server (e.g. Tomcat)<i>,</i>
								if <span style='font-family: Arial Unicode MS, sans-serif'>you
									do not have a proxy server, you can download the java proxy
									application here</span>-<u>download</u></li>
						</ul>
						<ul>
							<li><span style='font-family: Arial Unicode MS, sans-serif'>Enter
									proxy link, e.g.<i></i>
							</span><span style='font-family: Arial Unicode MS, sans-serif'><i><u>http://my-server:8180/URLRedirector/handler</u></i></span></li>
						</ul>
						<div>
							<h3>
								<a name='TOC-System-Change-log' /><font size='3'>System
									Change log</font>
							</h3>
							<p style='font-size: 13px'>
								<i>Link:/Index.html#management/system/changelog</i>
							</p>
							<p style='font-size: 13px'>To display all change logs to
								remote systems</p>
						</div>
						<h3>
							<a name='TOC-Group-management' />Group management
						</h3>
						<div style='font-size: 13px'>
							<i>Link:/Index.html#management/group</i>
						</div>
						<div style='font-size: 13px'>
							<u><br /> </u>
						</div>
						<div style='font-size: 13px; font-weight: normal'>This
							allows group remote systems in groups so that we can separate the
							user accounts for specific groups</div>
						<div style='font-size: 13px; font-weight: normal'>
							<br />
						</div>
						<div style='font-size: 13px; font-weight: normal'>
							Administrator can create new groups, assign remote systems to
							specific group, and map users<b></b>and groups so that users in
							a specific group can see the remote system on dashboard screen,
							display detail information of remote system in the group
							and receive notification email about status of the remote system
						</div>
						<div>
							<br />
						</div>
						<h3>
							<a name='TOC-User-Management' />User Management
						</h3>
						<div>
							<i>Link: /Index.html#management/user</i>
						</div>
						<div>
							<br />
						</div>
						<div>To manage user accounts in Monitor Application,
							following functions are in the User Management</div>
						<h4>
							<a name='TOC-Google-Management' />Google Management
						</h4>
						<div>
							<i>Link: /Index.html#management/user/google</i>
						</div>
						<div>
							<b><u><br /> </u></b>
						</div>
						<div>All accounts are synchronized from account list in
							Google App Domain, administrator of the Google App Domain is also
							the Administration of the Monitor Application, will setup
							schedule to synchronize accounts from Google App to Monitor
							Application, to setup synchronize account from Google Apps,
							please go</div>
						<h4>
							<a name='TOC-User-Mapping' />User Mapping
						</h4>
						<div>
							<i>Link: /Index.html#management/user</i>
						</div>
						<div>
							<br />
						</div>
						<div>To link Users with Roles in the Monitor Application</div>
						<h4>
							<a name='TOC-User-Role' />User Role
						</h4>
						<p>
							<i>Link:/Index.html#management/user/role</i>
						</p>
						<p>To manage permission in the Monitor Application,
							Administrator will manage user role in the Monitor Application 
							there are two main roles: Administrator who can perform
							admin functions  and non-admin functions, and Normal user who
							only can see and perform non-admin functions (check health status
							on dashboard, and display detail information of remote system )</p>
						<h4>
							<a name='TOC-Invite-User' />Invite User
						</h4>
						<p>
							<span style='font-size: small'>Link </span><span
								style='font-size: small'>/Index.html#management/user/invite</span>
						</p>
						<p>
							<span style='font-size: small'>This allows invite people
								who have Gmail account or email account that associated with
								Google Apps to access to the </span>Monitor Application<span
								style='font-size: small'>, to send invitation, please go
								to</span>
						</p>
						<ul>
							<li><span style='font-size: small'>This can be done
									by select sub menu "Invite User" under User Management</span></li>
						</ul>
						<ul>
							<li><span style='font-size: small'>Select the (+)
									button</span></li>
						</ul>
						<ul>
							<li><font size='2'>Choose the group to invite someone
									too and then enter their Google email and Invite</font>.</li>
						</ul>
						<h2>
							<a name='TOC-How-to-setup-remote-system' />How to setup remote
							system
						</h2>
						<div>
							<p>The monitor application works by reading an XML file
								generated by your computer that you are monitoring. The main
								headings to pass back from your client to the Monitor server
								are:</p>

							<ul>
								<li><i><span style='font-family: Arial, sans-serif'>Database </span></i><span
									style='font-family: Arial, sans-serif'>- the data
										sources that you want to monitor, e.g. MS SQL or Oracle</span></li>

								<ul>
									<li><i><span style='font-family: Arial, sans-serif'>name
												- e.g. Oracle</span></i></li>
									<li><i><span style='font-family: Arial, sans-serif'>value
												- e.g. 2012-10-30 15:58:21.0  </span></i><span
										style='font-family: Arial, sans-serif'>which is the
											last Ping time</span></li>
									<li><span style='font-family: Arial, sans-serif'>error
											- any error text, e.g. "no connection" or "server timed out"</span></li>
									<li><span style='font-family: Arial, sans-serif'>ping
											- e.g. "Ping time = 0 milliseconds"- the ping time in
											milliseconds</span></li>
								</ul>
							</ul>

							<ul>
								<li><span style='font-family: Arial, sans-serif'>JVM
										- health of the JVM and how much memoty is being used from
										that allocated for the virtual memory</span></li>

								<ul>
									<li><span><span
											style='font-family: Arial, sans-serif'>Free_Memory -
												e.g. "</span></span><span style='font-family: Arial, sans-serif'>452331744"
											-number of bytes available</span></li>
									<li><span><span
											style='font-family: Arial, sans-serif'>Total_Memory</span></span><span><span
											style='font-family: Arial, sans-serif'>- e.g. "</span></span><span
										style='font-family: Arial, sans-serif'>531103744"
											-number total of bytes allocated</span></li>
									<li><span><span
											style='font-family: Arial, sans-serif'>Max_Memory</span></span><span><span
											style='font-family: Arial, sans-serif'>- e.g. "</span></span><span
										style='font-family: Arial, sans-serif'>1061814272" -
											maximum amount of memory available</span></li>
									<li><span><span
											style='font-family: Arial, sans-serif'>Used_Memory</span></span><span><span
											style='font-family: Arial, sans-serif'>- e.g. "</span></span><span
										style='font-family: Arial, sans-serif'>78772000" -
											total used memory</span></li>
								</ul>
							</ul>

							<ul>
								<li><span style='font-family: Arial, sans-serif'>fielsystem
										- the data sources that you want to monitor, e.g. LDAP or
										Oracle</span></li>

								<ul>
									<li><span style='font-family: Arial, sans-serif'>file_name
											- e.g. the drive letter of the file location to monitor, e.g.
											C:\</span></li>
									<li><span style='font-family: Arial, sans-serif'>size
											- e.g. "17G" in total avaialable</span></li>
									<li><span style='font-family: Arial, sans-serif'>used
											- e.g. "12G" used</span></li>
									<li><span style='font-family: Arial, sans-serif'>available
											- e.g. "4.8G" remaining disk space</span></li>
									<li><span style='font-family: Arial, sans-serif'>Percentage_used
											- e.g. 72%</span></li>
									<li><span style='font-family: Arial, sans-serif'>mount
											- e.g. what is this drive labelled as when mounted</span></li>
								</ul>
							</ul>

							<ul>
								<li><span style='font-family: Arial, sans-serif'>cpu</span></li>

								<ul>
									<li><span style='font-family: Arial, sans-serif'>usage
											- e.g. "54%"</span></li>
									<li><span style='font-family: Arial, sans-serif'>vendor
											- e.g. "Intel"</span></li>
									<li><span style='font-family: Arial, sans-serif'>model
											- e.g. "Xeon"</span></li>
									<li><span style='font-family: Arial, sans-serif'>total
											- e.g. how many CPU's available</span></li>
								</ul>
							</ul>

							<ul>
								<li><span style='font-family: Arial, sans-serif'>cpu_physical</span></li>

								<ul>
									<li><span style='font-family: Arial, sans-serif'>cpu_type
											- e.g. "Mem" or "Swap" to indicate what CPU type is being
											analysed</span></li>
									<li><span style='font-family: Arial, sans-serif'>total
											- e.g. "2531920" - total available</span></li>
									<li><span style='font-family: Arial, sans-serif'>used</span></li>
									<li><span style='font-family: Arial, sans-serif'>free</span></li>
								</ul>
							</ul>

							<p>To make this work you need to create a simple web page (
								jsp/ html ) with a mime type of txt/xml that generates the XML
								in the format below:</p>

							<p>
								 <span style='font-family: Courier New; font-size: 10pt'>&lt;CMG></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 </span>&lt;Monitor></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    </span>
									</span>&lt;server></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    </span></span>
									</span>&lt;ip></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>111.111.111.111</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/ip></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    </span></span>
									</span>&lt;database></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;name></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>Oracle</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/name></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;value></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>2012-10-30
										15:58:21.0</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/value></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;error></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>None</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/error></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;ping></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>Ping
										time = 0 milliseconds.</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/ping></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    </span></span>
									</span>&lt;/database></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    </span></span>
									</span>&lt;database></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;name></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>MSSQL</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/name></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;value></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>2012-10-30
										15:56:30.38</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/value></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;error></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>None</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/error></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;ping></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>Ping
										time = 0 milliseconds.</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/ping></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    </span></span>
									</span>&lt;/database></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>   </span></span>
									</span>&lt;ldap></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;value></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>2012-56-30
										03:56:30:475</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/value></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;error></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>None</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/error></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;ping></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>Ping
										time = 125 milliseconds.</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/ping></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    </span></span>
									</span>&lt;/ldap></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    </span></span>
									</span>&lt;JVM></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;Free_Memory></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>452331744</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/Free_Memory></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;Total_Memory></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>531103744</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/Total_Memory></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;Max_Memory></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>1061814272</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/Max_Memory></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;Used_Memory></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>78772000</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/Used_Memory></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    </span></span>
									</span>&lt;/JVM></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    </span></span>
									</span>&lt;filesystem></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;file_name></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>C:\</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/file_name></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;size></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>7.8G</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/size></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;used></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>6.0G</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/used></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;available></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>1.8G</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/available></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;percent_used></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>77%</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/percent_used></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;mount></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>C:\</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/mount></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;type></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>NTFS/local</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/type></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span> </span></span></span>
									</span>&lt;/filesystem></span></span>
							</p>

							<p>
								<span style='font-size: 10.0pt; font-family: Courier New'><span>  
										 <span>    <span>    </span></span>
								</span>&lt;cpu></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;usage></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>59.4%</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/usage></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;vendor></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>Intel</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/vendor></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;model></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>Xeon</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/model></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;total></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>4</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/total></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    </span></span>
									</span>&lt;/cpu></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    </span></span>
									</span>&lt;cpu_physical></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;cpu_type></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>Swap</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/cpu_type></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;total></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>2531920</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/total></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;used></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>2059924</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/used></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;free></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>471996</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/free></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    </span></span>
									</span>&lt;/cpu_physical></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    </span></span>
									</span>&lt;cpu_physical></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;cpu_type></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>Mem</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/cpu_type></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;total></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>1048044</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/total></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;used></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>925640</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/used></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    <span>    </span></span></span>
									</span>&lt;free></span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>122404</span></span><span><span
									style='font-size: 10.0pt; font-family: Courier New'>&lt;/free></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    <span>    </span></span>
									</span>&lt;/cpu_physical></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 <span>    </span>
									</span>&lt;/server></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
											 </span>&lt;/Monitor></span></span>
							</p>

							<p>
								<span><span
									style='font-size: 10.0pt; font-family: Courier New'><span>  
									</span>&lt;/CMG></span></span>
							</p>
							<p>
								<font face='arial, sans-serif'>You can check the example
									XML output format under link <u><a href="/demoData">here</a></u>
								</font>
							</p>
						</div>
					</div></td>
			</tr>
		</tbody>
	</table>
</div>