<div class="adL">
	<span style="font-size: 16px; font-family: 'Times New Roman'"><span
		class="HOEnZb"><font color="#888888">
				<div style="margin: 8px">
					<span style="border-collapse: collapse"><span
						style="font-size: x-small"><font color="#666666"><font
								face="arial,helvetica,sans-serif" color="#000000"><span
									style="font-size: medium; font-family: 'Times New Roman'; border-collapse: separate"><font
										face="verdana" size="-1">
											<p>Thank You and Best Regards,</p> <b>Admin Monitor</b>
											<hr width="100%" size="2">
									</font></span></font></font></span></span>
				</div>
				<div style="margin: 8px">
					<img src="http://www.c-mg.com/cmg-logo-email.jpg"><br>
				</div>
				<div style="margin: 8px">
					<span style="border-collapse: collapse"><span
						style="font-size: x-small"><font color="#666666"><font
								face="arial,helvetica,sans-serif" color="#000000"><span
									style="font-size: medium; font-family: 'Times New Roman'; border-collapse: separate"><font
										face="verdana" size="-1"><small><font
												color="#00e0"><span style=""><a
														style="color: rgb(42, 93, 176)"
														href="http://www.c-mg.com/" target="_blank">www.c-mg.com</a></span></font></small></font></span></font></font></span></span>
				</div>
		</font></span>
	<div class="im">



			<div style="margin: 8px">
				<span style="color: rgb(128, 128, 128); font-family: verdana"><font
					color="#666666" size="1">United Kingdom: Claybourne McGregor
						Consulting Ltd (CMG Ltd)</font></span>
			</div>
			<div style="margin: 8px">
				<span style="border-collapse: collapse"><span><font
						face="arial,helvetica,sans-serif"><span
							style="font-family: 'Times New Roman'; border-collapse: separate"><font
								face="verdana"><small><font color="#666666"><font
											size="1"><span>Forsyth House, Churchfield Road,
													Walton on Thames, Surrey, KT12 2TD, United Kingdom<br>

													<br>Vietnam: Claybourne McGregor Ltd (CMG CO.Ltd)<br>3
											</span><sup><span>rd</span></sup></font></font><span><font color="#666666"
											size="1">&nbsp;Floor, 16 Le Ngoc Han Street, Hai Ba
												Trung District, Hanoi, Vietnam<br>
											<br>This communication contains information from
												Claybourne McGregor Consulting Ltd (CMG) or its affiliates
												and is intended only for the use of the addressee(s) named
												above. This communication may be confidential and/or
												privileged. Access to this electronic transmission by anyone
												other than the intended recipient(s) is unauthorised. If you
												have received it in error, please notify the sender
												immediately. Please then delete the e-mail and do not
												disclose its contents to any person.<br> <br>Within
												the bounds of law, CMG or its subsidiary companies may
												monitor electronic transmissions through their internal and
												external networks to ensure compliance with internal
												policies and for legitimate business purposes.
										</font></span></small></font></span></font></span></span>
			</div>

		</div></span><br>
</div>