<div>
	<table width="100%">
		<tbody>
			<tr>
				<td style="vertical-align: top;">
					<p>Dear Sir/Madam,</p>
					<p>This is an automated email to advise you that you have been
						granted access to %(PROJECT_NAME)%. Please select the link below
						to view:</p>
					<p>
						Link: <a href="http://%(PROJECT_HOST_NAME)%" target="_blank">Click
							here</a>
					</p>
					<p></p>
				</td>
				<td width="20%" style="text-align: right;"><img
					src="%(QRCODE_LINK)%" width="100%" alt="%(PROJECT_NAME)%" /></td>
			</tr>
		</tbody>
	</table>
</div>