<div data-role="header" data-theme="c" >
	<a href="#dashboard" data-icon="home" data-theme="b" data-iconpos="notext"></a>
	<h1>About us</h1>
	<a href="#help" data-icon="question" data-theme="b" data-iconpos="notext"></a>
</div>
<div data-role="content">
	<div class="bottom-logo">
		<img src="images/logo/cmg-logo-blacktxt-alpha.png" width="70%"/>	
	</div>	
	<p>Claybourne McGregor combining the best of both technology and
		business.</p>
	<p>Minimising risk through prototyping and test driven development
		for financial and security applications and modellers on both
		mobile/tablet and web</p>
	<ul data-role="listview" data-inset="true" data-theme="c"
		data-dividertheme="d">
		<li data-role="list-divider">Navigate to</li>
		<li><a href="#dashboard">Dashboard</a></li>
		<li><a href="#help">Help</a></li>
		<li><a href="htttp://www.c-mg.com">Claybourne McGregor</a></li>
	</ul>
	<img alt="CMG Health Monitor System"
		src="https://chart.googleapis.com/chart?chs=150x150&amp;cht=qr&amp;chl=http%3A%2F%2Fmonitor.c-mg.com&amp;chld=L%7C1&amp;choe=UTF-8" />
</div>
<div data-role="footer" data-theme="c" data-position="fixed">
	<div class="bottom-logo">
		<img src="images/logo/c-mg.png"/>
	</div>
</div>