<div data-role="header" data-theme="c">
	<a href="#" data-icon="chevron-up" data-theme="e">Hide</a>
	<h1>About us</h1>
</div>
<div data-role="content">
	<p>Claybourne McGregor combining the best of both technology and
		business.</p>
	<p>Minimising risk through prototyping and test driven development
		for financial and security applications and modellers on both
		mobile/tablet and web</p>
	</br>
	<p>Navigate to:</p>
	<ul data-role="listview" data-inset="true">
		<li><a href="#">Dashboard</a></li>
		<li><a href="#">Help</a></li>
		<li><a href="htttp://www.c-mg.com">Claybourne McGregor</a></li>
	</ul>
	<img alt="CMG Health Monitor System"
		src="https://chart.googleapis.com/chart?chs=150x150&amp;cht=qr&amp;chl=http%3A%2F%2Fmonitor.c-mg.com&amp;chld=L%7C1&amp;choe=UTF-8" />
</div>
<div data-role="footer" data-theme="c" data-position="fixed">
	<img src="images/logo/monitor-cmg.png" width="100%" />
</div>