<div data-role="header" data-theme="c">
	<a href="#" data-icon="chevron-down" data-theme="e">Hide</a>
	<h1>Administration</h1>
</div>
<div data-role="content" data-iscroll="">
	<ul data-role="listview" data-inset="true" data-theme="c"
		data-dividertheme="b">
		<li data-role="list-divider">System management</li>
		<li><a href="#management/system">System list</a></li>
		<li><a href="#management/system/add">Add new system</a></li>
		<li><a href="#management/system/link">Proxy link</a></li>
		<li data-role="list-divider">Group management</li>
		<li><a href="#management/group">Group list</a></li>
		<li><a href="#management/group/add">Add new group</a></li>
		<li data-role="list-divider">User management</li>
		<li><a href="#management/user">User mapping</a></li>
		<li><a href="#management/user/role">User role</a></li>
		<li><a href="#management/user/google">Google management</a></li>
	</ul>
</div>
<div data-role="footer" data-position="fixed" class="ui-body-d"  data-role="listview" data-inset="true">
	<img src="images/logo/monitor-cmg.png" width="100%" />
</div>