<div data-role="header" data-theme="c">
	<a href="#" data-icon="chevron-down" data-theme="e">Hide</a>
	<h1>Confirm logout</h1>
</div>
<div data-role="content">
	<p>This is Page 2. It was created dynamically using an
		underscore.js template.</p>
	<p>Navigate to:</p>
	<ul data-role="listview" data-inset="true">
		<li><a href="#">Home</a></li>
		<li><a href="#page1">Page 1</a></li>
	</ul>
</div>
<div data-role="footer" data-theme="c" data-position="fixed">
	<img src="images/logo/monitor-cmg.png" width="100%" />
</div>