<div data-role="header" data-theme="c">
	<a href="#dashboard" data-icon="home" data-theme="b" data-iconpos="notext"></a>
	<h1>Help</h1>
	<a href="#about" data-icon="info" data-theme="b" data-iconpos="notext"></a>
</div>
<div data-role="content">
	<p>The monitor performs regular check on the health of any systems
		it has been setup to monitor</p>
	<table data-role="table" data-mode="reflow">
		<tr>
			<td><img src="images/icon/smile_status_icon.png" /></td>
			<td>&nbsp;Everything is working normally</td>
		</tr>
		<tr>
			<td><img src="images/icon/bored_status_icon.png" /></td>
			<td>Some parts of the system are straining</td>
		</tr>
		<tr>
			<td><img src="images/icon/dead_status_icon.png" /></td>
			<td>Some or all parts of the system are failing to respond</td>
		</tr>
		<tr>
			<td><img src="images/icon/search.png" /></td>
			<td>Search or filter on a system by typing all or part of the
				name on the dashboard</td>
		</tr>
	</table>
	<ul data-role="listview" data-inset="true" data-theme="c"
		data-dividertheme="d">
		<li data-role="list-divider">Navigate to</li>
		<li><a href="#dashboard">DashBoard</a></li>
		<li><a href="#about">About us</a></li>
		<li><a rel="external" href="http://www.c-mg.com">Claybourne
				McGregor</a></li>
	</ul>
</div>
<div data-role="footer" data-position="fixed" class="ui-body-d"  data-role="listview" data-inset="true">
	<div class="bottom-logo">
		<img src="images/logo/c-mg.png"/>
	</div>
</div>