<div  data-id="my-persistent-header" data-position="fixed" data-role="header" data-tap-toggle="false" data-theme="c" class="header">
	<a href="#" data-icon="arrow-l" data-theme="b" data-direction="reverse">Back</a>
	<h1><%=sys.getTitle()%></h1>
	<a href="#help" data-icon="question" data-theme="b" data-iconpos="notext"></a>
</div>
<div data-role="content" class="content" data-iscroll="">
<div class="iscroll-pulldown">
          <span class="iscroll-pull-icon"></span><span class="iscroll-pull-label"></span>
        </div>
	<ul data-role="listview" data-inset="true" id="ul-sys-info">
		<li><%if (!sys.get("isDeleted")) { %> <img src="images/icon/<%=sys.get("healthStatus")%>_status_icon.png"
			alt="France" class="ui-li-icon" />
			<h1><%=sys.get("code")%></h1>
			<p>
				<b><%=sys.get("name")%></b>
			</p>
			<p class="ui-li-aside">
				<img src="images/icon/p_<%=(sys.get("isActive") ? "online" : "offline")%>.gif" />
			</p> <% } else {%> No system found. <%}%>
		</li>
	</ul>
	<%if (!sys.get("isDeleted")) { %> <%if (item == "service") {%>
	<div data-role="collapsible" data-collapsed="true" class="expandable-content">
		<h3>Service Information</h3>
		<div id="table-services"></div>
	</div>
	<div data-role="collapsible" data-collapsed="true" class="expandable-content">
		<h3>Java Virtual Machine</h3>
		<div id="pie-jvm"></div>
	</div>
		<div data-role="collapsible" data-collapsed="true" class="expandable-content">
		<h3>CPU &amp; Memory</h3>
		<div id="cpu-mem-zone">
		</div>
	</div>
	<div data-role="collapsible" data-collapsed="true" class="expandable-content">
		<h3>Local Disk</h3>
		<div id="local-disk-zone"></div>
	</div>
	<%}%> <%if (item == "issues") {%>
	<ul data-role="listview" data-inset="true" data-theme="c" id="dashboard-system-list" data-filter="true"
		data-filter-theme="d" data-filter-placeholder="Search issue ...">
		<li>No issue found.</li>
	</ul>
	<%}%> <%}%>
	<div class="iscroll-pullup">
		<span class="iscroll-pull-icon"></span><span class="iscroll-pull-label"
			data-iscroll-loading-text="Loading ..." data-iscroll-pulled-text="Release to refresh ...">Pull up to refresh ...</span>
	</div>
</div>