<div>
	<table width="100%">
		<tbody>
			<tr>
				<td style="vertical-align: top;">
					<p>Dear Sir/Madam,</p>
					<p>This is an automated email to announce you that 1 person is waiting to be
					    granted access to %(PROJECT_NAME)%. </p>
						
					<p>User information:
					<p>Username: %(USERNAME)%
					<p>Firstname: %(FIRSTNAME)%
					<p>Lastname: %(LASTNAME)%
					<p>Description: %(DESCRIPTION)%
					<p>Please click the active link:</p>
					<p>
						Link: <a href="%(ACTIVE_USER_LINK)%" target="_blank">Click here</a>
					</p>
					<p></p>
				</td>
				<td width="20%" style="text-align: right;"><img
					src="%(QRCODE_LINK)%" width="100%" alt="%(PROJECT_NAME)%" /></td>
			</tr>
		</tbody>
	</table>
</div>