<div>
	<table width="100%">
		<tbody>
			<tr>
				<td style="vertical-align: top;">
					<p>Dear Sir/Madam,</p>
					<p>This is an automated email to announce you that 1 person is waiting to be
					    granted access to %(PROJECT_NAME)%. </p>
						
					<p>User information:
					<p>Username: %(Username)%
					<p>Firstname: %(Firstname)%
					<p>Lastname: %(Lastname)%
					<p>Description: %(Description)%
					<p>Please click the active link:</p>
					<p>
						Link: <a href="http://%(PROJECT_HOST_NAME)%" target="_blank">Click here</a>
					</p>
					<p></p>
				</td>
			</tr>
		</tbody>
	</table>
</div>