<li>
	<div style="visibility: hidden; white-space: nowrap; width: 0; height: 0;"><%=strSearch%></div> <a
	href="#dashboard/system/detail/<%=encodedKey%>"> <img src="images/icon/<%=healthStatus%>_status_icon.png" alt="France" class="ui-li-icon" />
		<h1><%=code%></h1>
		<p>
			<b><%=name%></b>
		</p>
		<%if (viewBar) {%>
		<table class="db-bar-table" style="width:100%;">
			<tbody>
				<tr>
					<td class="db-bar-title">CPU</td>
					<td class="db-bar"><img style="padding: 0" src="images/bar/bar_s.png" height="12" width="1"><img
						style="padding: 0" src="images/bar/bar_<%=(lastestCpuUsage >= 90 ? "r" : "b")%>.png" height="12" width="<%=lastestCpuUsage%>%"><img style="padding: 0"
						src="images/bar/bar_w.png" height="12" width="<%=(100 - lastestCpuUsage)%>%"><img style="padding: 0" src="images/bar/bar_s.png"
						height="12" width="1"></td>
					<td class="db-bar-value"><%=lastestCpuUsage%>%</td>
				</tr>
				<tr>
					<td class="db-bar-title">Mem</td>
					<td class="db-bar"><img style="padding: 0" src="images/bar/bar_s.png" height="12" width="1"><img
						style="padding: 0" src="images/bar/bar_<%=(lastestMemoryUsage >= 90 ? "r" : "b")%>.png" height="12" width="<%=lastestMemoryUsage%>%"><img style="padding: 0"
						src="images/bar/bar_w.png" height="12" width="<%=(100-lastestMemoryUsage)%>%"><img style="padding: 0" src="images/bar/bar_s.png"
						height="12" width="1"></td>
					<td class="db-bar-value"><%=lastestMemoryUsage%>%</td>
				</tr>
			</tbody>
		</table>
		<%}%>
		<p class="ui-li-aside">
			<img src="images/icon/p_<%=(isActive ? "online" : "offline")%>.gif" />
		</p>
</a>
</li>
