<div data-role="header" data-theme="c" class="type-interior">
	<h1 style="font-size: 1.3em; margin: .4em 30% 0.2em;" id="p-title">Dashboard</h1>
	<a href="#logout" data-icon="<%=isTouchDevice ? "off" : "minus"%>" data-theme="k" data-iconpos="notext" class="able-loading"></a> 
	<a href="#about" data-icon="info" data-theme="b" data-iconpos="notext" class="able-loading"></a>
</div>
<div data-role="content" <%=(isTouchDevice ? "data-iscroll=''" : "")%>>
	<%if (isTouchDevice) {%>
	<div class="iscroll-pulldown">
		<span class="iscroll-pull-icon"></span><span class="iscroll-pull-label"></span>
	</div>
	<%}%>
	<ul data-role="listview" data-inset="true" data-theme="c" id="dashboard-system-list" data-filter="true"
		data-filter-theme="d" data-filter-placeholder="Search system ...">
	</ul>
	<%if (isTouchDevice) {%>
	<div style="width:100%; height:30px">
	</div>	
	<%}%>
</div>
<div data-role="footer" data-id="my-persistent-footer" data-position="fixed" class="ui-body-d" data-role="listview" data-inset="true">
	<div class="bottom-logo">
		<img src="images/logo/c-mg.png" />
	</div>
</div>