.db-bar-table {
	font-size: 0.8em !important;
}

.db-bar {
	
}

.db-bar-title {
	width: 30px !important;
}

.db-bar-value {
	width: 30px !important;
	text-align: right;
}

.ui-listview .ui-li-icon {
	max-width: 24px;
	max-height: 24px;
	margin-top: 4px;
}
.cmg-logo {
	text-align: center;
}
.bottom-logo {
	background-color: #f1f1f1;
	text-align: center;
}