<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
<!--start  DashBoard -->
<servlet>
	<servlet-name>dashboard</servlet-name>
	<servlet-class>cmg.org.monitor.module.server.DashBoardServiceImpl</servlet-class>
</servlet>
  
<servlet-mapping>
    <servlet-name>dashboard</servlet-name>
    <url-pattern>dashboard/dashboard</url-pattern>
</servlet-mapping>

<!--end  DashBoard -->
<!--start  SystemDetail -->
<servlet>
    <servlet-name>systemdetail</servlet-name>
    <servlet-class>cmg.org.monitor.module.server.SystemDetailServiceImpl</servlet-class>
</servlet>
  
<servlet-mapping>
    <servlet-name>systemdetail</servlet-name>
    <url-pattern>systemdetail/systemdetail</url-pattern>
</servlet-mapping>
<!--end  SystemDetail -->

<servlet>
    <servlet-name>SystemManagementServlet</servlet-name>
    <servlet-class>cmg.org.monitor.module.server.SystemManagementServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SystemManagementServlet</servlet-name>
    <url-pattern>/monitorsystemmanagement/SystemManagement</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>AddSystemServlet</servlet-name>
    <servlet-class>cmg.org.monitor.module.server.AddnewSystemServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AddSystemServlet</servlet-name>
    <url-pattern>/monitoraddnewsystem/AddSystem</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <servlet-name>EditSystemServlet</servlet-name>
    <servlet-class>cmg.org.monitor.module.server.EditSystemServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>EditSystemServlet</servlet-name>
    <url-pattern>/monitoreditsystem/EditSystem</url-pattern>
  </servlet-mapping>

      <servlet>
    <servlet-name>UserManagement</servlet-name>
    <servlet-class>cmg.org.monitor.module.server.UserManagementServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UserManagement</servlet-name>
    <url-pattern>/monitorusermanagement/usermanagement</url-pattern>
  </servlet-mapping>
<!-- Default page to server -->
<welcome-file-list>
    <welcome-file>DashBoard.html</welcome-file>
</welcome-file-list>

</web-app>
